[submodule "vendor/Vulkan-Headers"]
	path = vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/alexoz12v2/VulkanMemoryAllocator.git
